.tokeninfo-container {
  padding: 10px;
  background-color: #24272A;
  border-top: 1px solid #555;
}

.tokeninfo-market-data-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}

.tokeninfo-item {
  width: 32%; 
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.tokeninfo-item strong {
  color: #00aaff;
}

.tokeninfo-item span {
  color: #fff;
}
