/* AllowanceManager.css */

.allowance-manager-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #1a1a1a;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: 100%; /* Allow full height */
  box-sizing: border-box;
}

.title {
  color: #00aaff;
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.form-label {
  color: #ffffffc2;
  margin-bottom: 8px;
  font-size: 16px;
}

.form-input {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #444;
  font-size: 16px;
  background-color: #26292C;
  color: #fff;
  transition: border-color 0.3s, background-color 0.3s;
}

.form-input::placeholder {
  color: #888;
}

.form-input:focus {
  border-color: #00aaff;
  outline: none;
  background-color: #333;
}

.form-button {
  padding: 12px;
  background-color: #00aaff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.form-button:disabled {
  background-color: #0077cc;
  cursor: not-allowed;
}

.form-button:hover:not(:disabled) {
  background-color: #0088dd;
}

.switch-mode-button {
  padding: 12px;
  background-color: transparent;
  color: #00aaff;
  border: 1px solid #00aaff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.switch-mode-button:hover {
  background-color: #00aaff;
  color: #1a1a1a;
}

.alert {
  padding: 12px;
  margin-top: 20px;
  border-radius: 4px;
  font-size: 16px;
}

.alert-success {
  background-color: #00aaff;
  color: white;
}

.alert-error {
  background-color: #f44336;
  color: white;
}

@media (max-width: 700px) {
  .allowance-manager-container {
    padding: 15px;
  }

  .form-button,
  .switch-mode-button {
    width: 100%;
  }
}
