.connect-button,
.disconnect-button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 50%; /* Circular button */
  border: none;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.connect-button:hover {
  background-color: #388E3C;
}

.disconnect-button {
  background-color: #ff4d4f;
}

.disconnect-button:hover {
  background-color: #bf4024;
}

.modal-wallet-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.modal-wallet-button:hover {
  background-color: #45a049;
}
