.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  top: 0;
  z-index: 10;
  color: #ffffff;
  border-bottom: 1px solid #333;
  padding: 20px 0px; 

}

.app-title {
  font-size: 42px;
  color: #ffffff;
  margin: 0;
}

.header-left, .header-center, .header-right {
  flex: 1;
}

.header-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search-bar {
  width: 100%;
  max-width: 350px; 
  padding: 12px; 
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #333;
  color: #ffffff;
}

.search-bar::placeholder {
  color: #ccc;
}

.wallet-connector {
  color: #ffffff;
}

.wallet-connector button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px; 
  font-size: 16px; 
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.wallet-connector button:hover {
  background-color: #45a049;
}
