.token-data-page {
  padding: 20px;
  background-color: #1A1A1A;
  color: white;
}

.token-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.token-header img {
  width: 50px;
  height: 50px;
}

.token-content {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Adds spacing between the sections */
}

.left-section {
  width: 30%; /* 70% width for the chart section */
  background-color: #24272A;
  padding: 20px;
  /* border-radius: 10px; */
}

.right-section {
  width: 70%; /* 30% width for the token information section */
  background-color: #24272A;
  /* padding: 20px; */
  border-radius: 10px;
}

/* Styling for the token value, market cap, etc. */
.token-info {
  margin-top: 20px;
}

.token-value {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 5px;
}

.price-change {
  color: #ff4d4f;
  font-size: 18px;
}

.market-data-row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.market-data-row .market-cap,
.market-data-row .volume {
  width: 48%;
}
