.homepage-container {
  padding: 5px 40px;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wallet-info h2 {
  font-size: 18px;
  color: #26292C;
}

.wallet-info h1 {
  font-size: 32px;
  color: #000;
}

.tab-navigation {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #333;
  margin-top: 20px;
}

.tab-button {
  font-size: 20px;
  font-weight: 600;
  color: #FFFFFF;
  background: none;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
  margin-right: 20px;
}

.tab-button:hover {
  color: #00aaff;
}

.tab-button.active {
  color: #00aaff;
}

.tab-button.active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #00aaff;
  width: 100%;
}

.tab-content {
  margin-top: 20px;
}

.empty-state {
  text-align: center;
  margin-top: 50px;
}

.add-token-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.add-token-input {
  flex-grow: 1;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.watchlist-items {
  list-style: none;
  padding: 0;
}

.watchlist-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
}

.remove-watchlist-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.add-watchlist-button,
.start-swap-button,
.buy-tokens-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.token-selector {
  margin: 20px 0;
}

.add-token-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-token-button:hover {
  background-color: #45a049;
}
